@import url('https://cdn.jsdelivr.net/gh/jenkinsci/dark-theme@155.v497c78bbdbb3/src/main/resources/io/jenkins/plugins/darktheme/theme-system.css');

/* Custom style for Jenkins */
.logo img {
    content:url('https://raw.githubusercontent.com/wendyliga/jenkins-tokopedia-theme/main/logo.png');
}
#jenkins-name-icon {
    display: none;
}
.logo:after {
    content: ‘Production IT Automations’;
    font-weight: bold;
    font-size: 40px;
    font-family:”Brush Script MT”, cursive;
    margin-left: 200px;
    margin-right: 12px;
    color: Aqua;
    line-height: 40px;
}