@import url('https://camalot.github.io/jenkins-dark-stylish/jenkins-dark.min.css');

/* Custom style for Jenkins */
.logo img {
    content:url('https://raw.githubusercontent.com/wendyliga/jenkins-tokopedia-theme/main/logo.png');
    /*change the path to your logo path*/
}
#jenkins-name-icon {
    display: none;
}
.logo:after {
    content: ‘Production IT Automations’;
    font-weight: bold;
    font-size: 40px;
    font-family:”Brush Script MT”, cursive;
    margin-left: 200px;
    margin-right: 12px;
    color: Aqua;
    line-height: 40px;
}