@import url('theme.css') screen and (prefers-color-scheme: dark);

/* Custom style for Jenkins */
.logo img {
    content:url(https://raw.githubusercontent.com/wendyliga/jenkins-tokopedia-theme/main/logo.png);
    /*change the path to your logo path*/
}
#jenkins-name-icon {
    display: none;
}
.logo:after {
    content: ‘Production IT Automations’;
    font-weight: bold;
    font-size: 40px;
    font-family:”Brush Script MT”, cursive;
    margin-left: 200px;
    margin-right: 12px;
    color: Aqua;
    line-height: 40px;
}